html, body {
		padding: 0;
		margin: 0;
		font-family: Roboto;
		font-size: 20px;
		font-weight: bold;
	}

	body {
		background-color: #0099ff;
	}

	/*the general container for the page*/
	#container {
		display: grid;
		grid-template-columns: 300px auto 200px;
		grid-gap: 3px;
	}

	#container > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#genheader {
		position: fixed;
		line-height: 130px; 
		height: 130px;
		background-color: #53c653;
		width: 100%;
	}

	/*the object holding the LibraMate logo*/
	#lheader {

	}

	#lheader h1 {
		position: relative;
		display: inline;
		font-size: 60px;
		font-family: Roboto;
		color: white;
		text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	}

	/*The object holding the searchbar*/
	#mheader {
		position: relative;
		text-align: center;
	/*	width: 60%;
		height: 100%;
		margin-top: 50px;*/
	}

	/*the design of the searchbar*/
	input[type="text"]{
		width: 95%;
		padding: 5px 10px;
		font-family: Roboto;
		font-size: 20px;

	}
	
	/*the object holding the radio buttons*/
	#rheader {
	/*	margin-top: 20px;
		position: relative;
		width: 20%;
		line-height: 100%;*/
	}

	#rheader td {
		line-height: 40px;
	}

	/*content below the header*/
	#results {
		padding-top: 170px;
		margin-left: auto;
		margin-right: auto;
	}
	
	h1 {
		font-size: 32px;
		margin-bottom: 0px;
	}
	

	#left {
		float: left;
		width: 30%;
		margin: 0px auto;
		text-align: center;
	}
	
	#left img {
		width: 80%;
	}
	
	#right{
		float: left;
		width: 68%;
	}
	
	#right h1 {
		/* font-size: 50px; */
		font-family: Roboto;
		color: white;
	   -webkit-text-stroke: 2px black;
	}

	#right h2 {
		/* font-size: 50px; */
		font-family: Roboto;
		color: white;
		-webkit-text-stroke: 2px black;
	}
	
	#right h3 {
		/* font-size: 50px; */
		font-family: Roboto;
		color: white;
		-webkit-text-stroke: 2px black;
	}
	
	.star {
		width: 50px;
	}
